<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class='nav_btn'><%= button_to "Home page", root_path, method: :get %></div>
      <% if session[:user_id] %>
        <div class='nav_btn'> <%= button_to "My posts", posts_path, method: :get %> </div> 
        <div class='nav_btn'> <%= button_to "New post", new_post_path, method: :get %> </div>
        <div class='nav_btn'> <%= button_to "Log out", logout_path, method: :delete %> </div>
      <% else %>
        <div class='nav_btn'> <%= button_to "Sign in", new_registration_path, method: :get %> </div>
        <div class='nav_btn'> <%= button_to "Log in", new_login_path, method: :get %> </div>
      <% end %>
    </nav>
    <br><br>
    <% if notice %>
      <h2><%=notice%></h2>
    <% end %>    
    <%= yield %>
  </body>
</html>
