<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <%= button_to "Home page", root_path, method: :get %>
    <br>
    <% if session[:user_id] %>
      <div> <%= button_to "My posts", posts_path, method: :get %> </div> 
      <div> <%= button_to "New post", new_post_path, method: :get %> </div>
      <div> <%= button_to "Log out", logout_path, method: :delete %> </div>
    <% else %>
      <div> <%= button_to "Sign in", new_registration_path, method: :get %> </div>
      <div> <%= button_to "Log in", new_login_path, method: :get %> </div>
    <% end %>
    </nav>
    <br><br>
    <%=notice%>
    <%= yield %>
  </body>
</html>
